rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    //users collection
    match /users/{user_id} {
      // any authenticated user can read, create a user document
      allow read, create: if request.auth.uid != null;
      // only the owner of a user document can update that document
      allow update: if request.auth.uid == user_id;
    }
    //projects collection
    match /projects/{project_id} {
      // any authenticated user can read, create, update a project document
      allow read, create, update: if request.auth.uid != null;
      // only the owner of a project document can delete that document
      allow delete: if request.auth.uid == resource.data.createdBy.id;
    }
  }
}