.splash {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}
.box {
  max-width: 700px;
  padding: 0 1rem;
  /* background: rgba(90, 90, 90, 0.384); */
  flex: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
}

section {
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  text-shadow: 1px 1px 3px #0000003d;
  padding: 0 var(--step-6);
  text-align: center;
  background: rgb(51, 51, 51);
  background-size: cover;
  background-position: center;
  background-blend-mode: overlay;
}

.feature:nth-child(2) {
  margin-top: 100vh;
}

/* section > img {
  display: none;
  object-fit: cover;
  width: 100%;
} */

.box > h1 {
  font-size: var(--step-3);
  line-height: 1;
  font-weight: bolder;
}
.box > p {
  margin-top: 1.5em;
  font-size: var(--step-0);
  font-weight: 300;
  line-height: 1.5;
}

.hero {
  position: fixed;
  width: 100%;
  z-index: -1;
  font-size: 300px;
  height: 100vh;
}

.hero h1 {
  font-size: var(--step-hero-0);
  font-family: var(--font-title);
}

.feature h1 {
  font-family: var(--font-alt);
  letter-spacing: 1px;
  word-spacing: 3px;
  font-weight: 300;
}

@media screen and (max-width: 400px) {
  .splash {
    flex-direction: column;
  }
}
