.splash {
  display: flex;
  flex-direction: column;
  /* gap: 3rem; */
}
.box {
  max-width: 700px;
  padding: 0 1rem;
  /* background: rgba(90, 90, 90, 0.384); */
  flex: 1;
  margin: 0 auto;
  display: grid;
  place-content: center;
}
::-webkit-scrollbar {
  display: none;
}

section {
  height: 100vh;
  position: sticky;
  top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #eee;
  padding: 0 var(--step-6);
  text-align: center;
  background: rgb(51, 51, 51);
  background-size: cover;
  background-position: center;
  background-blend-mode: difference;
  background-color: #111812;
}
section:not(.hero)::before {
  pointer-events: none;
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  transform: translateY(-100%);
  isolation: inherit;
  z-index: -1;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.feature:nth-child(2) {
  margin-top: 100vh;
}

/* section > img {
  display: none;
  object-fit: cover;
  width: 100%;
} */

.box > h1 {
  font-size: var(--step--1);
  line-height: 1;
  font-weight: bolder;
  color: beige;
}
.box > p {
  margin-top: 1.5em;
  font-size: var(--step--4);
  font-weight: 300;
  line-height: 1.5;
}

.hero {
  position: fixed;
  width: 100%;
  z-index: -1;
  font-size: 300px;
  height: 100vh;
}

.hero h1 {
  font-size: var(--hero-step--1);
  font-family: var(--font-title);
  text-shadow: 2px 2px 8px #0000003b, -2px 0px 11px #00000024;
  color: #eee;
}

.feature h1 {
  font-family: var(--font-body);
  letter-spacing: 1px;
  word-spacing: 3px;

  color: var(--green-light);
  text-shadow: 2px 2px 3px var(--green-dark), -1px -1px 1px var(--neutral-light);
  font-weight: bolder;
}

.feature.email h1 {
  color: var(--primary2-color);
  text-shadow: 0 0 12px #00000099, 2px 3px 2px #0000008a;
  font-weight: bolder;
}

section.testimonal::after {
  pointer-events: none;
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  transform: translateY(100%);
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0) 5%,
    rgba(0, 0, 0, 0) 64%,
    rgba(0, 0, 0, 0.6) 100%
  );
}

.testimonal {
  height: 50vh;
  position: sticky;
  top: 25%;
  margin-bottom: 64rem;
}

.testimonal.demo {
  height: 100vh;
  position: sticky;
  top: 0;
  margin-bottom: 0;
}
.splash textarea {
  padding: 1em;
}
.splash input[type="email"] {
  text-align: center;
}

section.cta {
  background-blend-mode: color-dodge;
}

@media screen and (max-width: 400px) {
  .splash {
    flex-direction: column;
  }
}

.testimonal.btn,
.navlink.btn {
  background: var(--green-light);
  padding: 8px 12px;
  border-radius: 4px;
  color: white;
  cursor: pointer;
  font-size: 1em;
  border: 1px solid var(--green-dark);
  text-decoration: none;
}

.cta > .box > .nav-link.btn {
  background: var(--green-light);
  padding: 18px 25px;
  border-radius: 4px;
  color: white;
  border: 1px solid var(--green-dark);
  font-size: var(--step--2);
  margin: 1em;
  font-weight: bolder;
}
.cta > .box > .nav-link.btn:hover {
  background: var(--primary-color);
}

/* hero */
:root {
  --fluid-hero-min-width: 320;
  --fluid-hero-max-width: 900;

  --fluid-hero-screen: 100vw;
  --fluid-hero-bp: calc(
    (var(--fluid-hero-screen) - var(--fluid-hero-min-width) / 16 * 1rem) /
      (var(--fluid-hero-max-width) - var(--fluid-hero-min-width))
  );
}

@media screen and (min-width: 900px) {
  :root {
    --fluid-hero-screen: calc(var(--fluid-hero-max-width) * 1px);
  }
}

:root {
  --hero-f--2-min: 118.06;
  --hero-f--2-max: 243.2;
  --hero-step--2: calc(
    ((var(--hero-f--2-min) / 16) * 1rem) +
      (var(--hero-f--2-max) - var(--hero-f--2-min)) * var(--fluid-hero-bp)
  );

  --hero-f--1-min: 141.67;
  --hero-f--1-max: 304;
  --hero-step--1: calc(
    ((var(--hero-f--1-min) / 16) * 1rem) +
      (var(--hero-f--1-max) - var(--hero-f--1-min)) * var(--fluid-hero-bp)
  );

  --hero-f-0-min: 170;
  --hero-f-0-max: 380;
  --hero-step-0: calc(
    ((var(--hero-f-0-min) / 16) * 1rem) +
      (var(--hero-f-0-max) - var(--hero-f-0-min)) * var(--fluid-hero-bp)
  );

  --hero-f-1-min: 204;
  --hero-f-1-max: 475;
  --hero-step-1: calc(
    ((var(--hero-f-1-min) / 16) * 1rem) +
      (var(--hero-f-1-max) - var(--hero-f-1-min)) * var(--fluid-hero-bp)
  );

  --hero-f-2-min: 244.8;
  --hero-f-2-max: 593.75;
  --hero-step-2: calc(
    ((var(--hero-f-2-min) / 16) * 1rem) +
      (var(--hero-f-2-max) - var(--hero-f-2-min)) * var(--fluid-hero-bp)
  );

  --hero-f-3-min: 293.76;
  --hero-f-3-max: 742.19;
  --hero-step-3: calc(
    ((var(--hero-f-3-min) / 16) * 1rem) +
      (var(--hero-f-3-max) - var(--hero-f-3-min)) * var(--fluid-hero-bp)
  );

  --hero-f-4-min: 352.51;
  --hero-f-4-max: 927.73;
  --hero-step-4: calc(
    ((var(--hero-f-4-min) / 16) * 1rem) +
      (var(--hero-f-4-max) - var(--hero-f-4-min)) * var(--fluid-hero-bp)
  );

  --hero-f-5-min: 423.01;
  --hero-f-5-max: 1159.67;
  --hero-step-5: calc(
    ((var(--hero-f-5-min) / 16) * 1rem) +
      (var(--hero-f-5-max) - var(--hero-f-5-min)) * var(--fluid-hero-bp)
  );

  --hero-f-6-min: 507.62;
  --hero-f-6-max: 1449.58;
  --hero-step-6: calc(
    ((var(--hero-f-6-min) / 16) * 1rem) +
      (var(--hero-f-6-max) - var(--hero-f-6-min)) * var(--fluid-hero-bp)
  );
}
