.navbar {
  width: 100%;
  padding: 1rem 1.5rem;
  position: fixed;
  box-sizing: border-box;
  z-index: 10000;
  background: #111812;
  color: #eee;
}
.navbar ul {
  display: flex;
  margin: 0 auto;
  align-items: center;
  justify-content: flex-end;
}
.navbar .logo {
  font-weight: bold;
  font-family: var(--font-title);
  font-size: var(--step-2);

  letter-spacing: 1px;
  display: flex;
  align-items: center;
  margin-right: auto;
}
.navbar .logo img {
  margin-right: 10px;
  filter: invert(25%);
  width: 36px;
}
.navbar a {
  text-decoration: none;
  margin-right: 20px;
  color: #eee;
}
.nav-link {
  background: transparent;
  padding: 6px 31px;
  border-radius: 4px;
  font-family: var(--font-body);
  color: white;
  border: none;
  border-bottom: 1px solid;
  border-color: var(--green-light);
}
.nav-link:hover {
  background: var(--green-light);
}
