.footer {
  position: fixed;
  bottom: 0;
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  background: var(--neutral-black);
  padding: 0.5rem;
  color: var(--neutral-light);
}

.footer-links {
  display: flex;
  justify-content: space-between;
  max-width: 900px;
}
