/* @link https://utopia.fyi/type/calculator?c=320,21,1.2,1140,24,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l */

:root {
  --step--2: clamp(0.91rem, 0.89rem + 0.1vw, 0.96rem);
  --step--1: clamp(1.09rem, 1.05rem + 0.21vw, 1.2rem);
  --step-0: clamp(1.31rem, 1.24rem + 0.37vw, 1.5rem);
  --step-1: clamp(1.58rem, 1.46rem + 0.59vw, 1.88rem);
  --step-2: clamp(1.89rem, 1.71rem + 0.89vw, 2.34rem);
  --step-3: clamp(2.27rem, 2.01rem + 1.29vw, 2.93rem);
  --step-4: clamp(2.72rem, 2.36rem + 1.83vw, 3.66rem);
  --step-5: clamp(3.27rem, 2.75rem + 2.56vw, 4.58rem);
  --step-body-0: clamp(1rem, 0.83rem + 0.86vw, 1.31rem);
  --step-hero-0: clamp(7.38rem, 0.24rem + 35.69vw, 20.31rem);
  --font-title: "Aclonica", sans-serif;
  --font-banner: "Dosis", sans-serif;
  --font-body: "Fauna One", serif;
  --font-body: "Bellefair", serif;
  --font-body: "EB Garamond", serif;
  --font-body: "Cormorant Garamond", serif;
  --font-alt: "Staatliches", cursive;
  --font-alt2: "Bree Serif", serif;
  --green-dark: #111812;
  --green-mid: #283a2c;
  --green-mid: #628a68;
  --green-light: #5f8a69;
  --green-light-neutral: #889990;
  --green-alt: #009523;
  --neutral-black: #141414;
  --neutral-mid: #8c7f4b;
  --neutral-light: #cec9b6;
}

.App {
  display: flex;
}
.App .container {
  flex-grow: 1;
  margin-top: 5rem;
}

.fade {
  opacity: 0;
}

section {
  transition: opacity 1s ease;
}

#scroll {
  position: fixed;
  bottom: 1rem;
  transform: translateX(calc(50vw - 50%)) translateY(-20px);
  z-index: 20000;
  filter: invert(1);
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid;
  box-shadow: 1px 1px 5px black;
}
